.expense-item {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px black;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  background-color: rgb(216, 216, 216);
}
.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}
.expense-item h2 {
  color: rgb(5, 121, 145);
  font-size: 14px;
  flex: 1;
  margin: 0 1px;
}

.expense-item__price {
  font-size: 14px;
  font-weight: bold;
  color: aliceblue;
  border: 1px solid white;
  background-color: rgb(100, 60, 7);
  padding: 4px;
  border-radius: 12px;
}
.expense-item__description {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.expense-item__description h2 {
  font-size: 14px;
}
